# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Sistema
.DS_Store
Thumbs.db

# Logs / temporales
*.log
*.tmp
*.bak

# Node (por si usas herramientas)
node_modules/
dist/

# Carpeta de pruebas locales
test/
local/
